# Don't need source files - literate programming
src/*

# backup files are redundant
\#*\#
*~

# Protect them secrets!  (Silly copyrights...)
/poster/ucd.eps

# More secret-protecting.  Vector images can be extracted from PDF files quite simply.
*.pdf

!snael2.py